parameters:
	level: 8
	paths:
		- src/
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- identifier: new.static
		- identifier: callable.nonCallable
		-
			message: '#createEnum\(\) expects class-string#'
			path: src/Dto/Dto.php
